
:root {
    --bg-color: #fcfcfc;
    --bg-secondary-color: #f9f9f9;
    --color-primary: #3f8098;
    --color-lightGrey: #d2d6dd;
    --color-grey: #747681;
    --color-darkGrey: #3f4144;
    --color-error: #d43939;
    --color-success: #0c7c59;
    --grid-maxWidth: 120rem;
    --grid-gutter: 2rem;
    --font-size: 1.6rem;
    --font-color: #363537;

    --color1: #363537;
    --color2: #e9f6f6;
    --color3: #bee9e8;
    --color4: #62b6cb;
    --color5: #3f8098;
    --color6: #1b4965;
    --color7: #ffef84;
    --color8: #c3d37a;
    --color9: #86b66f;
    --color10: #0c7c59;

    --font-bold: 'Overlock', sans-serif;
    --font-regular: 'Roboto Sans', sans-serif;
}

body {
    background-color: var(--color3);
    font-family: var(--font-regular);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-bold);
    
}
.outer {
    margin-top: 2em;
    /*background-color: #edfafa;*/
}

.card {
    margin: 1em 0;
}
.hero {
    margin: -10px -20px; /*1em .25em 5em;*/
    /*border: 2px solid cyan;*/
    position: relative;
    display: flex;
    flex-direction: row;
}
.hero-title {
    /*border: 1px solid red;*/
    padding: 4em 20px;
    margin: 0 auto;
    display: flex;
    width: 100%;
    flex-direction: column;
    /*text-align: center;*/
    z-index: 200;
}

.hero-bg {
    /*border: 1px solid blue;*/
    padding: 1em;
    min-height: 30em;
    background-image: url('/assets/head2.png');
    background-position: center right;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    display: flex;
    right: 0em;
    width: 30em;
    z-index: 0;


}
.top_container {
    z-index: 10;
    margin-top: 8em;
}

#top_bar {
    border: 0px solid green;
    max-height: 20em;
}
.toprow_container {
    display: flex;
    flex-direction: column;
    /*justify-content: end;*/
    border: 1px solid orange;
    z-index: 10;
}
.notes {
    margin: 0 0 1em 0;
    font-size: small;
    /*border: 1px solid red;*/
}

.top_perf_container {
    z-index: 10;
    min-width: 450px;
    margin-top: 3em;
    height: 18em;
    
}

.top_eu {
    padding: 0em;
    margin: 0em;
    min-height: 8em;
    z-index: 10
}

.top_eu_row {
    margin-bottom: 2em;
    border: 1px solid red;
}
.top_perf {
    /*border: 1px solid cyan;*/
    text-align: center;

}

.choro_container {
    margin-top: 0em;
}
.placeholder {
    border: 1px solid orange;
    z-index: 10
}

.small {
    font-size: smaller;
}

.holder {
    margin: 0 0 5em 0;
}

.country_flag {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    padding: 0;
    border-radius: 5%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /*border: 2px solid white;*/
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/**
Style input components
*/

.rc-slider-tooltip {
    z-index: 10;
}
.rc-slider-tooltip-inner {
    background-color: var(--color5);
    color: var(--color2);
    padding: 1em 1em 2em 1em;
    font-weight: bold;
}

.rc-slider-tooltip-placement-top .rc-slider-tooltip-arrow,
.rc-slider-tooltip-arrow {
    border-top-color: var(--color5);

}

.rc-slider-track {
    background-color: var(--color3);
}

.rc-slider-dot-active, .rc-slider-handle {
    border-color: var(--color4);
}



/*** Energy Source ****/
.energy-source-container {
    border: 1px solid blue;
    display: flex;
    flex-direction: row;

}
.energy-source {
    border: 0px solid red;
    width: 4em;
    height: 8em;
    margin: .15em;
    padding: 0em;
    background-color: var(--color2);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    display: flex;
    flex-direction: column;
    justify-content: end;

    font-family: var(--font-bold);
    z-index: 0;
}

.energy-source::before {
    border: 0px solid blue;
    content: ' ';
    height: 8em;
    width: 4em;
    background-color: rgba(255,255,255, 0.3);
    /*background-color: rgba(0, 0, 0, 0.4);*/
    position: absolute;
    z-index: 10;

}

#energy_wind {
    background-image: url('energy_sources/wind.png');
    background-position: center 1em;
}

#energy_solar {
    background-image: url('energy_sources/solar.png');
}

#energy_geotherm {
    background-image: url('energy_sources/geotherm.png');
    background-position: center 1em;
}

#energy_bio {
    background-image: url('energy_sources/biomass.png');
}

#energy_hydro {
    background-image: url('energy_sources/hydro.png');
    background-position: center .5em;
}

#energy_other {
    background-image: url('energy_sources/other.png');
}
.energy-value {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    z-index: 20;
    line-height: 1em;

}
.energy-label {
    padding: .3em;
    background-color:rgba(0, 0, 0, 0.2);
    background-color: rgba(255,255,255, 0.25);
    
    text-align: center;
    text-transform: uppercase;
    
    z-index: 20;
}


.Select-input>input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="color"]):not([type="button"]):not([type="reset"])
, .Select-input>input {
    border: none;
}



.sunburst_container  .svg-container{
    min-height: 40em;

}


.country_profile_title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.country_profile_label {
    margin-right: 1em;
}

.country_profile_label h3 {
    margin: 0;
}

.country_profile_selector {
    flex: 1 0 auto;
    font-family: var(--font-bold);
    font-size: 1.5em;
}



#gdp_pct_ts {
    padding: .25em;
    margin-top: 1em;
    padding-bottom: 2em;
    min-height: 300px;
    
}